<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean id="h2WebServer" class="org.h2.tools.Server" factory-method="createWebServer"
		init-method="start" destroy-method="stop">
		<constructor-arg value="-web,-webAllowOthers,-webDaemon,-webPort,8082" />
	</bean>
</beans>